.job-card {
  margin: 0 9px;
  margin-top: 40px;
  padding: 42px;
  background: var(--color-offwhite);
  /* width: 300px; */
  height: 430px;
  border-radius: 56px;
  flex-basis: 32%;
}
.job-card a {
  font-size: var(--fontsize-md);
  position: relative;
  font-weight: bold;
  color: var(--color-blue);
}

.job_btn {
  width: 40%;
  margin: auto;
  padding-top: 20px;
}

.job-card a::after {
  font-weight: bold;
  color: var(--color-brown);
  content: "";
  width: 25px;
  border-bottom: solid 2px var(--color-brown);
  position: absolute;
  left: 110px;
  top: 10px;
}

.card_tag {
  background: var(--color-brown);
  color: var(--color-white);
  border-radius: 20px;
  padding: 8px 15px;
  font-size: var(--fontsize-xs);
}
.card_tags {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.card_tag p {
  margin: auto;
  font-size: var(--fontsize-sm);
}

.job-card_title {
  display: flex;
  gap: 185px;
  align-items: flex-end;
  margin-top: 15px;
}

.job-card h1 {
  margin-top: 50px;
  font-size: var(--fontsize-lg);
  font-weight: bold;
  color: var(--color-blue);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-left {
  background: var(--color-offwhite);
  padding: 35px;
  width: 64%;
}

.modal-left .job-card_title {
  align-items: flex-start;
  gap: 60px;
  margin-top: unset;
  margin-bottom: 40px;
}
.modal-left h1 {
  font-size: var(--fontsize-lg);
  font-weight: bold;
  line-height: 100%;
}
.modal-left p {
  font-size: var(--fontsize-sm);
  font-weight: lighter;
  /* margin-bottom: 30px; */
}

.modal-left .card_tags {
  margin-top: 40px;
}
.modal-right {
  padding: 40px;
  width: 50%;
}
.email_modal {
  border-bottom: 1px solid var(--color-blue);
  margin-bottom: 45px;
}

.modal-right p {
  font-size: var(--fontsize-xs);
}

.modal-right__btn {
  margin-top: 50px;
  border-radius: 7px;
  width: 100%;
  padding: auto;
}
.ant-modal-body {
  padding: unset;
}
.ant-modal-footer {
  display: none;
}
.ant-modal {
  margin-left: 310px;
}
.ant-modal-content {
  width: 900px;
  /* transform-origin: 78.4px 857.4px; */
}

@media screen and (max-width: 600px) {
  .modal-content {
    flex-direction: column;
  }
  .modal-left {
    width: 100%;
  }
  .modal-right {
    width: 100%;
  }
  .ant-modal-content {
    width: 450px;
  }
  .ant-modal {
    margin-left: 20px;
  }

  .job-card {
    padding: 37px;
    width: 386px;
    height: 410px;
    margin-top: 20px;
  }
  .job-card_title {
    margin: unset;
    gap: unset;
    justify-content: space-between;
  }
  .job-card_title p {
    font-size: var(--fontsize-sm);
  }
  .job-card h1 {
    font-size: var(--fontsize-md);
  }
  .job_card_flex {
    justify-content: space-evenly;
  }
  .job_btn {
    width: 50%;
  }
}
