:root {
  --color-brown: #ba932e;
  --color-blue: #233342;
  --color-white: white;
  --color-grey: #8f959a;
  --color-offwhite: #fbf6f3;
  --fontsize-xl: 3.75rem;
  --fontsize-lg: 1.875rem;
  --fontsize-md: 1.25rem;
  --fontsize-sm: 1rem;
  --fontsize-xs: 0.8rem;
}

body {
  overflow-x: hidden;
  font-family: "BrownStd";
}

h1 {
  font-size: var(--fontsize-xl);
}
p {
  font-size: var(--fontsize-md);
}

.burger {
  background-color: var(--color-brown);
  padding: 9px 10px;
  border-radius: 40%;
  margin-left: 30px;

  color: var(--color-white);
}
.language,
.language a {
  color: var(--color-grey);
}
.languange--active {
  color: var(--color-brown) !important;
}

.site-page-header-responsive {
  background: var(--color-blue);
  padding: 30px 80px;
}

.careers-main {
  background: url("./assets/background_main.png") center center;
  background-size: cover;
  height: 650px;
  padding: 70px;
}

.careers-main h1 {
  width: 60%;
  color: var(--color-white);
  margin-top: 60px;
  text-transform: uppercase;
}

.ant-input-prefix {
  padding-right: 15px;
}
/* .ant-select ant-select-single ant-select-show-arrow {
  padding: 20px 30px;
} */
/* 
.careers-main_selector {
  padding: 120px;
} */

.careers-main__links {
  padding-left: 50px;
}

.careers-main--header {
  color: var(--color-white);
  position: relative;
  font-weight: bold;
  font-size: var(--fontsize-md);
}

.careers-main--header::before {
  content: "";
  height: 53px;
  border-left: solid 2px var(--color-brown);
  position: absolute;
  left: -25px;
  top: 5px;
  /* transform: rotate(90deg); */
}

.careers-main__links a {
  color: var(--color-brown);
  text-decoration: underline;
}

.careers-cards {
  padding: 40px 49px;
}
.careers-cards__filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.careers-cards__filter a {
  color: var(--color-blue);
  position: relative;
  font-weight: lighter;
}

.job_card_flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.careers-cards__filter > a {
  font-weight: lighter;
}

.careers-cards__filter_active {
  font-weight: normal !important;
}

.careers-cards__filter_active::before {
  content: "";
  height: 50px;
  width: 100%;
  border-top: solid 3px var(--color-brown);
  position: absolute;
  top: 30px;
}

.ant-btn {
  border-radius: 33px;
  border-color: var(--color-brown);
  padding: 10px 80px;
  color: var(--color-brown);
}

.ant-btn:hover {
  border-color: var(--color-brown);
  color: var(--color-blue);
  cursor: pointer;
}

.careers-cards__btn-container {
  width: 20%;
  margin: auto;
  padding-top: 60px;
}
.ant-btn span {
  margin: auto;
}

.construction {
  padding: 120px 10px;
  height: 100vh;
  position: relative;
}

.construction_dropdown {
  margin-left: 30.5%;
}
.construction_dropdown .ant-btn {
  border-radius: 7px;
  padding: 10px;
  margin-right: 20px;
}

.construction_dropdown .ant-btn span:first-child {
  margin-right: 40px;
}

.construction::before {
  content: "";
  background: url("./assets/OIU9PS0.png") left;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.partners {
  background: var(--color-offwhite);
  height: 180vh;
  padding: 40px;
  width: 100vw;
  position: relative;

  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

.partners_flower {
  position: absolute;
  top: -20vh;
  right: -170px;
  width: 40%;
}

.partners_text {
  padding: 3rem;
  border-top: 2px solid var(--color-brown);
  margin: auto;
  margin-top: 20rem;
  width: 38%;
  text-align: center;
  color: var(--color-blue);
}

.partners_text h1 {
  font-weight: bold;
}

.partners_text p {
  font-weight: lighter;
}

.partners_companies {
  width: 144%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -21.5%;
  top: 33%;
}

.partners_left {
  width: 40%;
}
.partners_right {
  width: 40%;
}
.horizontalSlider___281Ls {
  margin-bottom: -460px;
}
.partners_middle {
  width: 30%;
  align-self: flex-end;
}
.slider_control {
  position: relative;
  z-index: 10;
}

.dot___3c3SI {
  background: var(--color-grey);
  border: none;
  outline: none;
}

.mini > * {
  width: 220px;
}

.carousel__dot--selected {
  background: var(--color-blue);
  border-radius: 50px;
  height: 3px;
}
.ant-select-selection-placeholder {
  color: var(--color-blue);
}
.ant-select-arrow {
  color: var(--color-blue);
}

.ant-space {
  background: var(--color-white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 50%;
}
.ant-input-group-compact {
  display: flex !important;
  width: 50%;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 10px;
}

.ant-input-affix-wrapper {
  border: none;
  border-right: 7px solid black;
  align-items: center;
}

.ant-select {
  border: none;
  outline: none;
}

.ant-select-selector {
  outline: none;
  border: none;
  align-items: center;
}

.construction_text {
  transform: rotate(-90deg);
  line-height: 300%;
}
.construction_slider {
  width: 90%;
  height: 455px;
}
.slider img {
  border-radius: 56px;
  width: 700px;
  height: 400px;
  z-index: 3939;
}

.construction_container {
  width: 100vw;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBack___1mlaL .carousel__back-button {
  padding: 50px;
  border-radius: 50%;
  background: chartreuse;
}
.carousel__slider {
  padding-left: 20px;
  padding-right: 335px;
}

/* ---------------------------- */

.slider_mobile {
  display: none;
}
/* ------------------------ */

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .site-page-header-responsive {
    padding: 40px 20px;
  }
  .ant-page-header-heading-extra {
    margin: 12px 0;
  }
  .careers-main h1 {
    font-size: var(--fontsize-lg);
    width: 100%;
  }

  .careers-cards {
    padding: 40px 12px;
  }

  .careers-cards__filter {
    flex-wrap: wrap;
  }
  .careers-cards__filter_active {
    margin-bottom: 5px;
  }
  .careers-cards__filter_active::before {
    top: 20px;
  }

  .careers-cards__btn-container {
    width: 67%;
    padding-top: 40px;
  }
  .partners {
    height: 80vh;
  }
  .partners_text {
    margin-top: 10rem;
    padding: unset;
    width: 100%;
  }
  .partners_text h1 {
    font-size: var(--fontsize-lg);
    margin-top: 10px;
  }
  .partners_text p {
    font-size: var(--fontsize-sm);
  }
  .partners_companies {
    top: 60%;
  }
  .partners_flower {
    top: -5vh;
    right: -51px;
    width: 57%;
  }

  .partners_flower {
    overflow-x: hidden;
    right: 0px;
  }
  .partners_middle {
    align-self: center;
  }
  .partners {
    height: 107vh;
  }
  .ant-input-group-compact {
    width: 107%;
  }
  .partners_companies {
    overflow-x: hidden;
  }
  .construction_container {
    flex-direction: column;
  }
  .construction_text {
    margin-top: 140px;
    font-size: var(--fontsize-sm);
    line-height: 200%;
  }

  .partners {
    position: relative;
  }

  .partners_companies {
    top: -1%;
    flex-direction: column;
    padding-bottom: 120px;
    position: relative;
    /* justify-content: center; */
  }
  .slider_control {
    /* margin-left: 40px; */
    width: 350px;
    /* height: 30px; */
  }
  .construction_slider {
    overflow-x: hidden;
  }
  .mini > * {
    width: 90px;
    margin-top: 370px;
  }
  .construction_slider {
    margin-top: 200px;
  }

  .construction_slider img {
    width: 200px;
    height: 150px;
    margin-right: 40px;
  }

  .construction_slider > * {
    /* overflow: hidden; */
    /* height: 100px; */
    width: 560px;
    /* display: none; */
  }
  .construction {
    padding: 40px 10px;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
